body {
  background-color: #fbfcfc;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  font-weight: 200;
  line-height: 1.4;
}

a:link {
    color: #2c3e50;
    text-decoration: none;
}

a:visited {
    color: #2c3e50;
}

a:hover {
    color: #7f8c8d;
}

a:active {
    color: #7f8c8d;

}

header {
  padding: 10px 0;
  text-align: center;
}

ul li {
  margin-bottom: 10px;
}

nav {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

nav a {
  padding: 0 5px;
  margin: 0 5px;
}

article {
  box-sizing: border-box;
  padding: 20px;
  border: 1px dotted #7f8c8d;
  margin-bottom: 20px;
}

article h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

footer {
  padding: 10px 0;
  font-size: 0.9em;
  text-align: right;
}
